.container {
  max-width: 960px;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}

.container form {
  width: 90%;
  margin: 0 auto;
}

.container form table {
  width: 100%;
  border-spacing: 0 2rem;
}

.container form table th {
  width: 30%;
  text-align: left;
  vertical-align: top;
}

.container form table th span {
  margin: 0 0 0 1rem;
  color: #f00;
}

.container form table .table__name {
  display: flex;
}

.container form table .table__name input#fullname {
  width: 70%;
}

.container form table td {
  width: 70%;
  color: #888;
}

.container form table td input, .container form table td textarea {
  width: 100%;
  height: 20px;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 5px;
}

.container form table td input#gender {
  width: 1rem;
}

.container form table td input#postcode {
  ime-mode: disabled;
  width: 50%;
  margin: 0 0 0 1rem;
}

.container form table td .error {
  color: #f00;
}

.container form table td .opinion {
  resize: none;
  height: 6rem;
}

.container form table .table__gender {
  color: #000;
}

.container form table .table__postcode span {
  color: #000;
}

.container .btn {
  display: flex;
  justify-content: center;
}

.container .btn input {
  background: #000;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  padding: 10px 50px;
  border: 1px solid #888;
}

.container .fixbtn {
  display: flex;
  justify-content: center;
}

.container .fixbtn input {
  background: #fff;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.container .confirm_table td {
  color: #000;
}

.container .thanks {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container .thanks button {
  background: #000;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  margin: 2rem 0;
  padding: 10px 50px;
  border: 1px solid #888;
}

.container .flash_delete {
  padding: 1rem 0;
  background: #ff8989;
}

.container .search {
  padding: 1rem;
  border: 1px solid;
}

.container .search .search__name {
  display: inline-block;
  margin: 0 1rem 0 0;
}

.container .search .search__name label {
  font-weight: bold;
}

.container .search .search__name input {
  height: 2rem;
}

.container .search .search__gender {
  display: inline-block;
}

.container .search .search__gender label {
  font-weight: bold;
}

.container .search .search__regist {
  margin: 1rem 0;
}

.container .search .search__regist label {
  font-weight: bold;
}

.container .search .search__regist input {
  height: 2rem;
}

.container .search .search__email label {
  font-weight: bold;
}

.container .search .search__email input {
  height: 2rem;
}

.container .page {
  display: flex;
  justify-content: space-between;
}

.container .page ul {
  list-style: none;
  display: flex;
  padding: 0;
  border: 1px solid #aaa;
}

.container .page ul li a {
  text-decoration: none;
  padding: 1px 8px;
}

.container .page ul .active {
  background: #000;
  color: #fff;
}

.container .page ul .disabled, .container .page ul .active {
  padding: 1px 8px;
}

.container .page ul li + li {
  border-left: 1px solid #aaa;
}

.container .opinion_list table {
  border-collapse: collapse;
}

.container .opinion_list table tr .id {
  width: 5%;
  padding: 2rem 1rem;
  color: #000;
}

.container .opinion_list table tr .fullname {
  width: 15%;
  padding: 2rem 1rem;
  color: #000;
}

.container .opinion_list table tr .gender {
  width: 10%;
  padding: 2rem 1rem;
  color: #000;
}

.container .opinion_list table tr .email {
  width: 20%;
  padding: 2rem 1rem;
  color: #000;
}

.container .opinion_list table tr .opinion {
  width: 40%;
  padding: 2rem 1rem;
  color: #000;
}

.container .opinion_list table tr .delete {
  width: 10%;
  padding: 2rem 1rem;
  color: #000;
}

.container .opinion_list table tr .delete input {
  background: #000;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.container .opinion_list table .table_tr {
  border-bottom: 1px solid;
}
